################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameSolution/GraphicAndVisualizationProjectZUT/.vs/GraphicAndVisualizationProjectZUT/config/applicationhost.config
/GameSolution/GraphicAndVisualizationProjectZUT/.vs/GraphicAndVisualizationProjectZUT/v16/Server/sqlite3
/GameSolution/GraphicAndVisualizationProjectZUT/.vs/GraphicAndVisualizationProjectZUT/v16
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/FastIK
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Rokoko
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/SampleScenes
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Scenes
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Characters
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/CrossPlatformInput
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Editor
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Effects
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Environment
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Vehicles
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Utility
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Prototyping
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/PhysicsMaterials
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/ParticleSystems
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Fonts
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets/Cameras
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/TexturesPart01
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/TexturesPart01.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Standard Assets.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Scenes.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/SampleScenes.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/Rokoko.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/New Terrain.asset.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/New Terrain.asset
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/JakubGmur.Scripts.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/JakubGmur.Animations.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Assets/FastIK.meta
/GameSolution/GraphicAndVisualizationProjectZUT/Temp
/GameSolution/GraphicAndVisualizationProjectZUT/ProjectSettings
/GameSolution/GraphicAndVisualizationProjectZUT/Packages
/GameSolution/GraphicAndVisualizationProjectZUT/obj/Debug
/GameSolution/GraphicAndVisualizationProjectZUT/Logs
/GameSolution/GraphicAndVisualizationProjectZUT/Library
